<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/wap.css">
    <link rel="stylesheet" href="/css/fotter.css">
    <title>content</title>
</head>
<body style="background:#ececec">
<div class="pet_mian" >
    <div class="pet_head">
  <header data-am-widget="header" class="am-header am-header-default pet_head_block">
      <div class="am-header-left am-header-nav ">
          <a href="javascript:window.history.back();" class="iconfont pet_head_jt_ico">&#xe601;</a>
      </div>

      <h1 class="am-header-title pet_article_user">
      <div class="pet_article_user_info_tab">
        <div class="pet_article_user_info_tab_font">
        <div class="pet_article_user_info_tab_font_triangle"></div>
        <div class="pet_article_user_info_tab_font_center"><i>文章</i><span>16篇</span></div>
        </div>
      </div>
          <a href="">
              <span class="pet_article_user_ico">
      </span>
          </a>
      <span class="pet_article_user_name">EGOIST</span>
      </h1>

      <div class="am-header-right am-header-nav">
          <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a>
      </div>
  </header>
</div>



    <div class="pet_more_list"><div class="pet_more_list_block">
    <div class="iconfont pet_more_close">×</div>
    <div class="pet_more_list_block">
        <div class="pet_more_list_block_name">
            <div class="pet_more_list_block_name_title">阅读 Read</div>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe601;</i>
                <div class="pet_more_list_block_line_font">新鲜事</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe606;</i>
                <div class="pet_more_list_block_line_font">涨知识</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe607;</i>
                <div class="pet_more_list_block_line_font">看涂鸦</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_mengzhuanti pet_more_list_block_line_ico">&#xe603;</i>
                <div class="pet_more_list_block_line_font">萌专题</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_bk pet_more_list_block_line_ico">&#xe611;</i>
                <div class="pet_more_list_block_line_font">百科</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_wd pet_more_list_block_line_ico">&#xe60c;</i>
                <div class="pet_more_list_block_line_font">问答</div>
            </a>
 <div class="pet_more_list_block_name_title pet_more_list_block_line_height">服务 Service</div>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe600;</i>
                <div class="pet_more_list_block_line_font">美容</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe602;</i>
                <div class="pet_more_list_block_line_font">医院</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe604;</i>
                <div class="pet_more_list_block_line_font">店铺</div>
            </a>
                        <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_sy pet_more_list_block_line_ico">&#xe610;</i>
                <div class="pet_more_list_block_line_font">摄影</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xx pet_more_list_block_line_ico">&#xe612;</i>
                <div class="pet_more_list_block_line_font">学校</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_sz pet_more_list_block_line_ico">&#xe60f;</i>
                <div class="pet_more_list_block_line_font">水族</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_ms pet_more_list_block_line_ico">&#xe60e;</i>
                <div class="pet_more_list_block_line_font">猫舍</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_qs pet_more_list_block_line_ico">&#xe60b;</i>
                <div class="pet_more_list_block_line_font">犬舍</div>
            </a>
                                    <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_qt pet_more_list_block_line_ico">&#xe60d;</i>
                <div class="pet_more_list_block_line_font">其它</div>
            </a>
        </div>
    </div>

    </div></div>



<div class="pet_content">
<div class="pet_content_block">
    <% for(let i=0;i < lists.length;i++){ %>
        <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default pet_content_article" data-am-paragraph="{ tableScrollable: true, pureview: true }">
            <h1 class="pet_article_title"><%= lists[i]['ntitle']%></h1>
            <div class="pet_article_user_time">发表于：2015-09-25</div>
            <img src="<%= lists[i]['nimage']%>">
            <p><%= lists[i]['ncontent']%></p>
        </article>
    <% } %>
    <ul class="like_share_block">
        <li><a class="link_share_button" href="###"><i class="iconfont share_ico_link">&#xe62f;</i>1460</a></li>
        <li><a class="link_share_button" href="###"><i class="iconfont share_ico_wx">&#xe630;</i>微信</a></li>
        <li><a class="link_share_button" href="###"><i class="iconfont share_ico_pyq">&#xe62e;</i>朋友圈</a></li>
    </ul>
</div>
<div class="pet_article_like">
<div class="pet_article_like_title">猜你喜欢</div>

    <div class="pet_content_main pet_article_like_delete">
      <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
      <div class="am-list-news-bd">
          <ul class="am-list">
             <!--缩略图在标题右边-->
              <% for(let i=0;i < news.length;i++){ %>
              <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                  <div class="pet_list_one_info">
                      <div class="pet_list_one_info_l">
                          <div class="pet_list_one_info_ico"><img src="<%= news[i]['nimage']%>" alt=""></div>
                          <div class="pet_list_one_info_name"><%= news[i]['nauthor']%> </div>
                      </div>
                      <div class="pet_list_one_info_r">
                          <div class="pet_list_tag pet_list_tag_xxs"><%= news[i]['cname']%></div>
                      </div>
                  </div>
                  <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                      <h3 class="am-list-item-hd pet_list_one_bt">
                          <a href="/shouye/content?nid=<%= news[i]['nid']%>" class=""><%= news[i]['ntitle']%></a>
                      </h3>
                      <div class="am-list-item-text pet_list_one_text"><%= news[i]['ncontent']%></div>

                  </div>
                  <div class="am-u-sm-4 am-list-thumb" style="max-height: 110px; ">
                      <a href="###" class="">
                          <img src="<%= news[i]['nimage']%>"  class="pet_list_one_img" style="height: 120px"  alt=""/>
                      </a>
                  </div>
              </li>
              <% } %>
            </ul>
      </div>
    </div>
</div>
    <div class="fotter">
        <a href="/">
            <span>首页</span>
        </a>
        <a href="/admin">
            <span>个人中心</span>
        </a>
    </div>
</div>
</div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/amazeui.min.js"></script>
<script>
$(function(){

    // 动态计算新闻列表文字样式
    auto_resize();
    $(window).resize(function() {
        auto_resize();
    });
    $('.am-list-thumb img').load(function(){
        auto_resize();
    });
    $('.pet_article_like li:last-child').css('border','none');
        function auto_resize(){
        $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                // alert($('.pet_list_one_nr').height());
    }
        $('.pet_article_user').on('click',function(){
            if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
            }else{
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
            }
        });

        $('.pet_head_gd_ico').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
       });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
});

</script>
</body>
</html>